@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  background: #171717;
  color: #fff;
  padding: 2rem;
  /* width: 40%; */
  width: 90%; 
  max-width: 600px; 
  margin: 4rem auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input {
  border: none;
  background: #1e1e1e;
  outline: none;
  color: #fff;
  padding: 0.5rem 2.5rem;
  border-radius: 5px;
}

input::placeholder {
  color: #fff;
}

.weather__search {
  position: relative;
}

.weather__search i {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 15px;
  color: #fff;
}

.weather__units {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.weather__units span {
  cursor: pointer;
  margin-right: 0.5rem;
}

.weather__body {
  text-align: center;
  margin-top: 3rem;
}

.weather__datetime {
  margin-bottom: 2rem;
  font-size: 14px;
}

.weather__forecast {
  background: #1e1e1e;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 30px;
}

.weather__icon img {
  width: 100px;
}

.weather__temperature {
  font-size: 1.75rem;
}

.weather__minmax {
  display: flex;
  justify-content: center;
}

.weather__minmax p {
  font-size: 14px;
  margin: 0.5rem;
}

.weather__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
}



.weather__box {
  background: #1e1e1e;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.weather__box i {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.weather__label {
  font-size: 16px;
  color: #fff;
  margin-bottom: 0.25rem;
}

.weather__data {
  font-size: 18px;
  color: #fff;
}
.weather__box {
  width: 220px;
  flex-basis: calc(25% - 1rem); 
  max-width: calc(25% - 1rem);
}

@media (max-width: 936px) {
  .weather__box {
    flex-basis: calc(33% - 1rem);
    max-width: calc(33% - 1rem);
  }
}

@media (max-width: 600px) {
  .weather__box {
    flex-basis: calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
}

@media (max-width: 400px) {
  .weather__box {
    flex-basis: calc(100% - 1rem);
    max-width: calc(100% - 1rem);
  }
}






